//fuentes

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Code+Pro:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&display=swap');

// colores

$color_1:#D8BD8A;
$color_2:#D3D0CB;
$color_3:#B3AF8F;
$color_1d:#0D0630;
$color_2d:#772014; 
$color_3d:#1C3144;

$color_1fuente:#191919; 
$color_2fuente:#3E000C;
$color_3fuente:#2A2D43;

// espaciado
$ssm:3px;
$sm:10px;
$me:20px;
$lar:50px;
$slar:60px;

// responsive
$movil: 480px;
$tablet:768px;
$laptop:900px;
$pc:1400px;



//map




